@import '../../_colors.scss';

.skills {
  position: relative;
  padding-top: 90px;
  padding-bottom: 45px;

  .wrapper {
    max-width: 65%;
    margin: 0 auto;
    position: relative;
  }

  .title {
    margin-bottom: 70px;
  }

  .description {
    margin-bottom: 50px;
  }

  &__slide {
    width: auto !important;
    display: table !important;
    margin: auto;

    &__image {
      max-width: 160px;
      height: 160px;
    }
  }
}


.star-rating {
  display: table;
  color: $light-star-color;
  font-size: 25px;
  height: 25px;
  width: 100px;
  margin: 45px auto;
  position: relative;

  &::before {
    content: '★★★★★';
    opacity: .3;
  }

  &[title=".000"]::after {
    width: 0%;
  }

  &[title="0.1"]::after {
    width: 10%;
  }

  &[title="0.2"]::after {
    width: 20%;
  }

  &[title="0.3"]::after {
    width: 30%;
  }

  &[title="0.4"]::after {
    width: 40%;
  }

  &[title="0.5"]::after {
    width: 50%;
  }

  &[title="0.6"]::after {
    width: 60%;
  }

  &[title="0.7"]::after {
    width: 70%;
  }

  &[title="0.8"]::after {
    width: 80%;
  }

  &[title="0.9"]::after {
    width: 90%;
  }

  &[title="1.0"]::after {
    width: 100%;
  }

  &::after {
    color: $light-font-primary-color;
    content: '★★★★★';
    position: absolute;
    z-index: 1;
    display: block;
    left: 0;
    top: 0;
    width: attr(rating);
    overflow: hidden;
  }

}