$dark-main-bg-color: #000;
$dark-bg-color: #111;
$dark-font-primary-color: #fff;
$dark-font-color: #AEAEAE;
$dark-star-color: #AEAEAE;

$light-main-bg-color: #fff;
$light-bg-color: #F6F6F6;
$light-font-primary-color: #000;
$light-font-color: #828282;
$light-star-color: #E5E5E5;
